# Ignore node_modules directory
node_modules/

# Ignore the dist directory
dist/

# Ignore log files
*.log
package-lock.json
# Ignore delete cache files
**/.DS_Store
coverage/
.env
.env.local
.env.*.local
.env.sandbox
.env.production